.hdf5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
Train[[:space:]]Test[[:space:]]Scripts[[:space:]]on[[:space:]]AWS/Scripts/model.hdf5 filter=lfs diff=lfs merge=lfs -text
